<h1>RunVision</h1>
<% if user_signed_in? %>
<%= current_user.nickname %> <%# ログインユーザーの表示 %>
ログインしています。
<%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>

<% else %>
<%=link_to "新規登録", new_user_registration_path%>
<%=link_to "ログイン", new_user_session_path%>
<% end %>


<p>今日の日付：◯月◯日</p>
<%= @event.event_name %> 
<p>目標名</p> 
<p>目標距離：100km</p> <%# →target_distance ☆ %>
<p> 期間 「1/1〜2/10」<p><%# →start_date☆　end_date☆ %>
<p>走った距離：25km</p>
<p>達成率：25%</p>
<p>残り日数：30日</p>
<p>残りの距離：75km</p>


<div style="width: 400px; height: 400px;">
  <canvas id="myChart"></canvas>
</div>

<p>日付：</p>
<%= form_with(model: @running, url: runnings_path, id: "form") do |form| %>
<p>走った距離：</p>
  <%= form.number_field :ran_distance, id: "ran-distance" %> <br>km
  <%= form.submit "投稿する", id: "submit" %>
  <%= form.hidden_field :event_id, id: "event-id", :value => @event.id %> 
  

<% end %>

<p>走った場所：</p>
<p>感想：</p>
<p>コメントフォーム</p>
<p>送信</p>


