<%=link_to "イベント投稿", new_event_path%>
<div>
  <% @events.each do |event| %>
    <div>
      <%= event.id %>
      <%= event.event_name %>
      <%= event.target_distance %>
      <%= event.start_date %>
      <%= event.end_date %>
      <%= event.commit %>
      <%=link_to "詳細", event_path(event.id)%>
      <%=link_to "編集", edit_event_path(event.id)%>
    </div>
  <% end %>
</div>

<%=link_to "トップページへ戻る", root_path%>

