<p>目標名：<%= @event.event_name %> </p> 
<p><%= @event.id %></p>
<p>目標距離：<%= @event.target_distance %></p>
<p> 期間 「<%= @event.start_date %> 〜<%= @event.end_date %> 」</p>
<p>意気込み：<%= @event.commit %></p>
<p>走った距離：<%= @ran_distance_sum %></p>

<div>
<%= Gon::Base.render_data %>
 <canvas id= "myChart"></canvas>
</div>

<%=link_to "投稿", new_event_running_path(@event.id)%><%# ←rouresの←を見る。２行目を参照 %>
<% #ループで@eventに紐づくrunningを表示 %>
<% @event.runnings.each do |running| %>
  <%=link_to "投稿の編集", edit_event_running_path(@event.id,running.id)%>
<% end %>

<div>
<%=link_to "イベント一覧に戻る", events_path%>
</div>
